.recentCard {
  /* display: flex; */
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  margin-bottom: 1rem;
  /* margin-left: 0.3rem; */
  margin-right: 1rem;
  background: #f8f8f8;
}
/* .recentCard :first-child {
  margin-top: 0rem !important;
} */
.icons {
  margin-left: 1rem;
  /* margin-top: 0.7rem; */
  display: flex;
}
.shareIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
}
.shareIcons > * {
  font-size: 1.5rem;
}
.icons > * {
  color: #808080;
  
}
.css-3bmhjh-MuiPaper-root-MuiPopover-paper{
  box-shadow: none !important;
  /* left: 240px !important;
  top: 280px !important; */
  background-color: transparent !important;
  border-radius:none !important;
  height: 100px !important;



}
@media only screen and (max-width: 600px) {
  .icons {
    margin-left: 1rem;
    margin-top: 0rem;
    display: flex;
  }
}


@media only screen and (max-width: 500px) {
  .recentCard {
  
    margin-left: 0rem;
    margin-right: 1rem;
  
  }
  .icons > * {
    color: #808080;
    padding: 0rem 0.3rem !important;
    /* font-size: 0.5rem !important; */
    /* height: 0.5em !important; */

    
  }
  
  .shareIcons > * {
    margin-left: 0.2rem !important;
    /* font-size: 2rem !important; */
    /* height: 0.5em !important; */
  }
  .forEllipses{ width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
  .css-3bmhjh-MuiPaper-root-MuiPopover-paper{
   height: 100px !important;
   position: relative !important;
    left: 160px !important;
    top: 250px !important;
   
  
  
  }
  /* .shareIcons {
    height: 100px;
    position: relative;
    bottom: 50%;
    left: -20%;
  } */
  
  
  
}