.recentCard {
  
  border-radius : 10px;
  border        : 1px solid #e0e0e0;
  margin-bottom : 1rem;
  background    : #f8f8f8;
}

.icons {
  margin-left  : 1rem;

  display      : flex;
}
.icons>* {
  color: #808080;
}
@media only screen and (max-width: 600px) {
  .icons {
    margin-left: 1rem;
    margin-top : 0rem;
    display    : flex;
  }
}
@media only screen and (max-width: 500px) {
  
  .icons>* {
    color       : #808080;
    padding     : 0rem 0.3rem !important;
  
  }
  
  .forEllipses {
    width        : 200px;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
  }
  /* .shareIcons {
    height: 100px;
    position: relative;
    bottom: 50%;
    left: -20%;
  } */
}
.shareIcons {
  padding: 5px 10px 0 10px
}
@media only screen and (max-width: 400px) {
 
  .forEllipses {
    width        : 180px;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
  }
  
}
