.popularCardSection {
  height: 100px;
  width: 100px;
}
.popularCard {
  max-width: 180px;
}
.modalBox {
  border-radius: 10px;
  border: 2px solid #106b66 !important;
}
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #ffff;
  /* color: #000; */
}
@media only screen and (max-width: 600px) {
  .popularCard {
    max-width: 120px;
  }
}
